{% extends 'base.html' %}
{% block services %}
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
	<h5 style= "color: blue">Introduction</h5 style= "color: blue">
	<p>Welcome to the Price Comparison Website. By using our website, you agree to these terms and services. If you do not agree to these terms and services, you should not use our website.</p>

	<h5 style= "color: blue">Use of Our Website</h5 style= "color: blue">
	<p>Our website is intended for personal, non-commercial use only. You may use our website to compare prices and purchase products from our partners. You may not use our website for any other purpose without our prior written consent.</p>

	<h5 style= "color: blue">Intellectual Property</h5 style= "color: blue">
	<p>All content on our website, including but not limited to text, graphics, logos, images, and software, is the property of [company name] or its partners and is protected by United States and international copyright laws. You may not use any of our content without our prior written consent.</p>

	<h5 style= "color: blue">Privacy Policy</h5 style= "color: blue">
	<p>Our Privacy Policy explains how we collect, use, and protect your personal information. By using our website, you agree to our Privacy Policy.</p>
	<p><a href="#">Read our Privacy Policy</a></p>

	<h5 style= "color: blue">Disclaimer</h5 style= "color: blue">
	<p>The information on our website is provided "as is" and without warranties of any kind, either express or implied. [company name] makes no representations or warranties about the accuracy, reliability, completeness, or timeliness of the information on our website.</p>

	<h5 style= "color: blue">Limitation of Liability</h5 style= "color: blue">
	<p>pcw shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use of our website, even if [company name] has been advised of the possibility of such damages.</p>

	<h5 style= "color: blue">Changes to These Terms and Services</h5 style= "color: blue">
	<p>We reserve the right to change these terms and services at any time. You should check this page regularly for updates. Your continued use of our website after any changes to these terms and services will constitute your acceptance of the changes.</p>
</div>
     

        
      </div>
    </div>
  </div>
</section>
	{% endblock  %}
