{% extends 'base.html' %} {% load static %} {% block team %}

<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Team</h2>
      <p>
        we have a dedicated and talented team of professionals who work hard
        every day to ensure that you have the best possible experience on our
        website. Here are a few of the key members of our team:
      </p>
    </div>

    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="{% static 'assets/img/team/1.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Azhar Yaseen</h4>
            <span>Team Lead Webdeveloper</span>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="{% static 'assets/img/team/2.jpeg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="{% static 'assets/img/team/3.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
